.line {
  & + .line {
    margin-top: 30px;
  }

  .title-wrapper {
    margin-bottom: 8px;

    p {
      color: #803220;
      font-weight: 600;
    }
  }

  .measures-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .measure {
      flex: 1;

      & + .measure {
        .chords-wrapper {
          border-left: none;
        }
      }
    }
  }

  .lyrics-wrapper {
    margin-top: 15px;

    p {
      color: #633919;
      line-height: 24px;
    }
  }
}