.measure {
  .chords-wrapper {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8px;
    .chord {
      flex: 1;
      color: #633919;
    }
  }
}