.home-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .section-wrapper {
    flex: 4;
    .tab-section {
      padding: 40px;
      background-color: #FFF;
      border-radius: 5px;
      margin-bottom: 30px;

      .singer {
        color: #633919,
      }

      .links-wrapper {
        margin-top: 25px;

        .link-wrapper {
          a {
            color: #633919;
            text-decoration: none;

            &:hover {
              color: #803220;
            }
          }
        }
      }
    }
  }

  .nav-wrapper {
    flex: 1;
  }
}