.home-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }

  a {
    color: #633919;
    text-decoration: none;

    &:hover {
      color: #803220;
      font-weight: 600;
    }
  }

  .section-wrapper {
    flex: 4;
    align-self: stretch;

    .tab-section {
      border-top: 2px solid #633919;
      padding: 30px 40px;
      background-color: #FFF;
      border-radius: 5px;
      margin-bottom: 30px;

      .singer {
        color: #633919;
        font-size: 20px;
      }

      .links-wrapper {
        margin-top: 20px;

        .link-wrapper {
          margin-top: 5px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  .nav-wrapper {
    flex: 1;
    align-self: stretch;
    margin-left: 30px;

    @media (max-width: 767px) {
      flex: 1.5;
      margin-left: 0;
      margin-bottom: 30px;
    }

    .nav-section {
      position: sticky;
      top: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media (max-width: 767px) {
        background-color: #FFF;
        border-radius: 5px;
        padding: 12px 0;
      }

      a {
        display: inline-block;
        align-self: stretch;
        padding: 5px 15px;

        &:hover {
          border-left: 4px solid #803220;
          padding-left: 11px;
        }
      }
    }
  }
}