.home-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .section-wrapper {
    flex: 4;

    .tab-section {
      border-top: 2px solid #633919;
      padding: 40px;
      background-color: #FFF;
      border-radius: 5px;
      margin-bottom: 30px;

      .singer {
        color: #633919,
      }

      .links-wrapper {
        margin-top: 25px;

        .link-wrapper {
          margin-top: 5px;

          &:first-child {
            margin-top: 0;
          }

          a {
            color: #633919;
            text-decoration: none;

            &:hover {
              color: #803220;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .nav-wrapper {
    flex: 1;
    align-self: stretch;

    .nav-section {
      position: sticky;
      top: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 15px;
      margin-left: 30px;
      background-color: #FFF;
      border-radius: 5px;
    }
  }
}