.tonality-selector {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF;
  padding: 10px 15px;
  border-radius: 30px;

  .tonality-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #633919;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0 8px;

    &:hover, &.is-active {
      background-color: #633919;
      color: #F2E5DA;
    }
  }
}