.chord-sample-wrapper {
  width: 76px;

  .chord-name {
    text-align: center;
    color: #803220;
    font-weight: 600;
  }

  .mark-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -6px -3px;

    .mark {
      flex: 1;
      text-align: center;
      font-size: 12px;
      color: #633919;
    }
  }

  .chord-sample {
    margin-top: 5px;
    border-top: 4px solid #633919;

    .fret {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20px;
      border-bottom: 1px solid #633919;

      .start-point {
        position: absolute;
        color: #803220;
        left: -14px;
      }

      .string {
        position: relative;
        width: 1px;
        background-color: #633919;
        align-self: stretch;

        .finger {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #803220;
          left: -4.5px;
          top: 5px;
        }
      }
    }
  }
}
