.guitar-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .head-wrapper {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      width: auto;
      padding-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }

    .back-link {
      color: #633919;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .tab-container {
    width: 650px;
    margin: 0 auto;

    @media (max-width: 767px) {
      width: auto;
    }

    h1 {
      text-align: center;
      color: #633919;
      margin-bottom: 30px;
    }
  }
}