.App {
  height: 100vh;
  background-color: #F2E5DA;

  p, h1 ,h2, h3, h4, h5 { margin: 0; line-height: 1.2; }

  header {
    background-color: #633919;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      color: #F2E5DA;
    }
  }
}