.App {
  height: 100vh;
  overflow-y: auto;
  background-color: #F2E5DA;

  p, h1 ,h2, h3, h4, h5 { margin: 0; line-height: 1.2; }

  header {
    background-color: #633919;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;

    .logo {
      color: #F2E5DA;
      text-decoration: none;
      font-size: 26px;
    }
  }

  .container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1499px) {
      width: 1140px;
    }

    @media (max-width: 1199px) {
      width: 700px;
    }

    @media (max-width: 767px) {
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: unset;
      margin-right: unset;
    }
  }

  .main-container {
    padding-top: 50px;
    padding-bottom: 100px;

    @media (max-width: 767px) {
      padding-top: 30px;
    }
  }
}